<div>
    {% for name, messages in flash.getMessages() %}
        <div class="alert alert-info">
            <div class="header fa-align-center">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
