{% extends 'layout.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}

    <!-- *** ADVANTAGES HOMEPAGE ***
     _________________________________________________________ -->
    <div id="hot">
        <div class="box">
            <div class="container">
                <div class="col-md-12">
                    <h2>TEAM</h2>
                </div>
            </div>
        </div>

        <div id="advantages">

            <div class="container">
                <div class="same-height-row">
                    <div class="col-sm-4">
                        <div class="box same-height clickable">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <h3><a href="https://github.com/demarbre1u">Allan DEMARBRE</a></h3>
                            <p>Axes and Shoes is the best website ever!</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box same-height clickable">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <h3><a href="https://github.com/elshobokshy">Islam ELSHOBOKSHY</a></h3>
                            <p>Axes and Shoes is the best website ever!</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box same-height clickable">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>

                            <h3><a href="https://github.com/LouisCuny">Louis CUNY</a></h3>
                            <p>Axes and Shoes is the best website ever!</p>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#advantages -->

        <!-- *** ADVANTAGES END *** -->

        <!-- *** GET INSPIRED ***
         _________________________________________________________ -->
        <div class="container" data-animate="fadeInUpBig">
            <div class="col-md-12">
                <div class="box slideshow">
                    <h3>Axes&Shoes ... </h3>
                    <p class="lead">... just do it!</p>
                    <div class="item">
                        <a href="#">
                            <img src="{{ asset('img/getinspired1.jpg') }}" alt="Get inspired" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- *** GET INSPIRED END *** -->
    </div>
{% endblock %}
