<!-- Filters -->
<form action="" method="post" class="form-vertical">
    <div class="form-group">
        <!-- minSize -->
        <label for="minSize" class="col-sm-3 control-label">Size min</label>
        <div class="col-sm-7">
            <input type="text" id="minSize" class="form-control">
        </div>
        <!-- maxSize -->
        <label for="maxSize" class="col-sm-3 control-label">Size max</label>
        <div class="col-sm-7">
            <input type="text" id="maxSize" class="form-control">
        </div>
        <!-- Materials -->
        <label class="col-sm-2 control-label">Materials</label>
        <div class="col-sm-10">
            {% for material in materials %}
                <label><input value="{{ material.name }}" type="checkbox">
                    {{ material.name }}</label>
            {% endfor %}
        </div>
    </div>
</form>
