{% extends 'layout.twig' %}
{% block title %} Gallery {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            <pre>
                {{ dump(f) }}
            </pre>
            <!-- Filters -->
            {% include 'Gallery/filters.twig' %}
        </div>
        <div class="col-sm-9">
            <!-- Products -->
            {% include 'Gallery/products.twig' %}
        </div>
    </div>
{% endblock %}


