{% extends 'layout.twig' %}

{% block title %}{{ parent() }} - Page not found{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <p>Page not found.</p>
        </div>
    </div>

{% endblock %}