{% extends 'layout.twig' %}

{% block title %}{{ parent() }} - Error{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <p>An error occurred on the client.</p>
        </div>
    </div>

{% endblock %}
